---
import Layout from "../components/Layout.vue";
---

<!doctype html>
<html lang="en">
  <body>
    <Layout client:only>
      <div id="app" class="max-w-4xl mx-auto p-6">
       
       <img src="/public/image/wikischool-2.jpg" alt="">
          </div>
        </section>

      </div>
    </Layout>
  </body>

</html>
